h1= title
p Welcome to #{title}
if everyauth.loggedIn
  p
    h2 Welcome #{everyauth.facebook.user.name}!
    ul
      li user/fb id: #{everyauth.facebook.user.id}
      li user: #{everyauth.facebook.user}
  p
    a(href="/logout") Logout
else
  a(href='/auth/facebook') Login